@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}


.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #0d0d0d;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h5{
  color: #fff;
  /*text-transform: uppercase;*/
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}


#leftside {
  width: 2000px;
  margin-left: 10px;
  margin-right: 10px;
}

#math{
  font-size: 25px;
}

li{
  margin-top: 10px;
}

div.row{
  margin-top: 50px;
  margin-bottom: 50px;
}

p{
  margin-left: 20px;
}

div.card-deck.jumbotron.jumbotron-fluid{
  margin-left: 200px;
}

div.card-deck.jumbotron.jumbotron-fluid {
  padding-right: 80px;
  padding-left: 80px;
}

.card-title{
  text-align: center;
}

div.card-footer {
  background-color: lightblue;
}

button.btn.btn-dark {
  margin-left: 110px;
}


.card:hover{
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}


.footer {
  margin-left: 200px;
  margin-top: 100px;
  background-color: #303036;
  color: #d3d3d3;
  width: auto;
  height: 300px;
  position: relative;
  bottom: 0px;
  /*padding: 10px 10px 0px 10px;*/
}

.footer .footer-content{
  height: 400px;
  display: flex;

}

.footer .footer-content .footer-section{
  flex: 1;
  /*border: 1px solid white;*/
  padding:25px;
}